{% extends 'profile_base.html' %}
{% load static %}
{% block content %}
<div class="content-wrapper_1 d-flex align-items-center auth px-0">
  <div class="row w-100 mx-0">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="row">
                <div class="col-14 col-xl-10 mb-6 mb-xl-6">
                  <div class="profile-container">
          <div class="row row-space-24">
              <div class="col-md-12">
                  <div class="tab-content p-2">
                      <div class="tab-pane active show" id="profile-videos">
                        <br></br>
                        <div class="row row-space-8">
                          <div class="col-rf-12 grid-margin transparent">
                            <div class="row">
                              <div class="col-md-12 mb-12 stretch-card transparent">
                                <div class="card card-light-danger">
                                  <div class="card-body">
                                    <p class="mb-8">Intelligent Courses</p>
                                    <p class="fs-30 mb-6">LEARN:THE FUN WAY!</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                          <div class="card tale-bg"><div class="modal-body">
                            <div class="row row-space-8">
                              <div class="col-sm-12">
                                <div class="embed-responsive embed-responsive-16by9 m-b-4">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Phck__iZFGU"></iframe>
                                </div>
                            </div>
                         </div>
                         <br></br>
                         <div class="row row-space-30">
                           <div class="col-rf-12 grid-margin transparent">
                             <div class="row">
                               <div class="col-md-12 mb-12 stretch-card transparent">
                                 <div class="card card-light-tale">
                                   <div class="card-body">
                                     <a href="{% url 'account:register' %}"</a>
                                     <p class="mb-10">Register Now </p>
                                     <p class="fs-30 mb-6">And Avail Early Bird Offers</p>
                                   </div>
                                 </div>
                               </div>
                             </div>
                           </div>
                         </div>
                        </div>
                        <audio   autoplay>
                             <source  src="{% static 'website/audio/intro.mp3' %}">
                           </audio>
                        <div class="card tale-bg"><div class="modal-body">
                          <div class="row row-space-8">
                            <div class="col-sm-12">
                              <div class="embed-responsive embed-responsive-16by9 m-b-4">
                                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1dttq5p0xUM"></iframe>
                              </div>
                          </div>
                       </div>
                      </div>
                      <br></br>
                      <div class="row row-space-10">
                        <div class="col-rf-12 grid-margin ">
                          <div class="row">
                            <div class="col-md-12 mb-12 stretch-card transparent">
                              <a href="{% url 'account:register' %}"</a>
                                <div class="card card-light-danger">
                                <div class="card-body">
                                  <p class="mb-10">Unlimited Games and Customised Modules</p>
                                  <p class="fs-30 mb-6">Try for FREE for 14 days </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br></br>
                <iframe src="http://wanted5games.com/games/html5/unicorns-jumper-new-en-s-iga-cloud/index.html?pub=10" name="cloudgames-com" width="380" height="210" frameborder="0" scrolling="yes"></iframe>
                <iframe src="http://wanted5games.com/games/html5/unicorns-jumper-new-en-s-iga-cloud/index.html?pub=10" name="cloudgames-com" width="380" height="210" frameborder="0" scrolling="yes"></iframe>
                <iframe src="http://wanted5games.com/games/html5/egg-shooter-bubble-dinosaur-new-en-s-iga-cloud/index.html?pub=10" name="cloudgames-com" width="380" height="210" frameborder="1" scrolling="yes"></iframe>
                <iframe src="http://wanted5games.com/games/html5/kick-the-zombie-new-en-s-iga-cloud/index.html?pub=10" name="cloudgames-com" width="380" height="210" frameborder="2" scrolling="yes"></iframe>
{% endblock %}
