{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Spela Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'website/vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'website/vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'website/vendors//css/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{% static 'website/vendors//datatables.net-bs4/dataTables.bootstrap4.css'%}">
  <link rel="stylesheet" href="{% static 'website/vendors//ti-icons/css/themify-icons.css'}">
  <link rel="stylesheet" type="text/css" href="{% static 'website/js/select.dataTables.min.css' %}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'website/css/vertical-layout-light/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'website/images/logospela.svg' %}">
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper_1 d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <img src="{% static 'website/images/logospela.svg' %}">
              </div>
              <h5> We have sent you a reset password email to the email. If you are registered user,<br> you will recieve a link to reset
              </br>  password and create new password<h5>
              </div>
                </div>
                  </div>
                    </div>
                      </div>
                        </div>

</body>
</html>
