{% extends 'SpelaSmsbase.html' %}
{% load static %}
{% block content %}

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Student</th>
        <th>Subscibed To</th>
        <th>Registered Email</th>
        <th>Fees Paid</th>
      </tr>
    </thead>
    {% for i in student %}
    <tbody>
      <tr>
        <td>{{i.first_name}}</td>
        <td>{{i.subscribed_to}}</td>
        <td>{{i.registered_email}}</td>
        <td><label class="badge badge-danger">Pending</label></td>
          {% endfor %}
      </tr>
      <tr>
    </tbody>
  </table>

</div>
</div>
</div>
</div>



{% endblock %}
